.card-main-styling{
	background-color: rgba(0,0,0, 0.3);
	width: 40vw;
	min-height: 15vh;
} 

.card-main-styling:hover{
	background-color: rgba(0,0,0, 0.7);
} 

.card-header-styling{
	max-height: 20%;
	margin-top: 1vb;
	margin-left: 1vi;
	width: 100%;
	display: flex;
	flex-direction: inline;
	align-items: end;
}

.card-header-styling h6{
	margin-left: 3%;
	position: relative;
	top: 11px;
	color: #fff;
}

.cool-button-body{
	width: 200px;
	display: flex;
	margin: 10px;
}

.catalogue-item-text{
	margin-left: 15px;
	color: #fff;
}

.card-footer-styling{
	width: 95%;
	display: flex;
	flex-direction: inline;
	justify-content: end;
	align-items: center;
	padding-right: 2px;
	font-size: 11px;
}

.card-footer-icon{
	color: #fff;
}

.card-footer-text{
	color: #fff;
	margin-left: 5px;
}

.bolt-button-background{
	width: 10%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
}

.cat-card-background{
	width: 387px;
	height: 131px;
	flex-shrink: 0;
	border-radius: 8px;
	position: relative;
	border: 1px solid rgba(255, 255, 255, 0.63);
	background: rgba(89, 89, 89, 0.40); 
	backdrop-filter: blur(12.5px);
}

.cat-card-background:hover{
	background: rgba(255, 255, 255, 0.22);
}

.cat-card-logo{
	width: 11px;
	height: 11px;
	flex-shrink: 0; 
	position:relative;
	top: 10px;
}

.cat-card-slogan{
	color: #FFF;
	font-size: 18px;
	font-family: Inter;
	font-weight: 500;
	letter-spacing: -0.36px; 
	position: relative;
	top: -15px;
	left: 15px;
}

.cat-card-button{
	width: 239px;
	height: 41px;
	flex-shrink: 0; 
	border-radius: 6px;
	background: rgba(255, 255, 255, 0.08);

	backdrop-filter: blur(12.5px);
	display: inline-flex;
}

.cat-card-button:hover{
	background: rgba(28, 28, 28, 0.40);
}

.cat-card-button-logo-background{
	width: 41px;
	height: 41px;
	flex-shrink: 0;
	border-radius: 6px;
	background: rgba(28, 28, 28, 0.40);
	backdrop-filter: blur(12.5px);
}

.cat-card-button-logo{
	width: 11px;
	height: 15px;
	flex-shrink: 0; 
	color: #fff;
	position: relative;
	top:8px;
	left: 15px;
}

.cat-card-button-text{
	color: #FFF;
	font-size: 14px;
	font-family: Inter;
	font-weight: 500;
	letter-spacing: -0.32px;
	position: relative;
	left: 50px;
	top: -15px;
    white-space: nowrap;
}

.cat-card-time-background{
	width: 60%;
	height: 50px;
	position: relative;
	display: inline-flex;
	align-items: center;
	right: 0px;
	bottom: 0px;
}



.cat-card-time-icon{
	color: #fff;
	font-size: 10px;
	margin-right: 5px;
}

.cat-card-time-text{
	color: #FFF;
	font-size: 12px;
	font-family: Inter;
	letter-spacing: -0.28px; 
}

